@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
/* src/index.css */
@layer base {
  html {
    font-family: 'Parkinsans', sans-serif;
  }
}


.glasseffect {
  background: rgba(255, 182, 193, 0.15); /* Softer pink background */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 1px solid rgba(255, 182, 193, 0.5); /* Lighter border */
}


/* Add this to your CSS file or inside a <style> tag */
.gradient-border-1 {
    background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 2px, transparent 2px) 0% 0%/7px 7px no-repeat,
    radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 2px, transparent 2px) 100% 0%/7px 7px no-repeat,
    radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 2px, transparent 2px) 0% 100%/7px 7px no-repeat,
    radial-gradient(circle at 0 0, #ffffff 0, #ffffff 2px, transparent 2px) 100% 100%/7px 7px no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 10px) calc(100% - 14px) no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 14px) calc(100% - 10px) no-repeat,
    radial-gradient(transparent 0%, rgba(107,70,225,0.53) 0%, rgba(72, 171, 224, 0.527) 53%, rgba(224,72,189,0.95) 94%, #48abe0 100%);
    border-radius: 7px;
    padding: 8px;
    box-sizing: border-box;
    
}

.gradient-border {
    position: relative;
    background: transparent;
    z-index: 1;
  }
  
  .gradient-border:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(45deg, violet, pink);
    z-index: -1;
    border-radius: inherit;
  }
  
  .gradient-border:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    border-radius: inherit;
    z-index: -1;
  }
  
.glass{
  /* From https://css.glass */
/* From https://css.glass */
background: rgba(156, 92, 169, 0.14);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.7px);
-webkit-backdrop-filter: blur(7.7px);
border: 1px solid rgba(156, 92, 169, 0.3);
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 8px;             /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;    /* Background of the scrollbar track */
  border-radius: 10px;    /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background-color: gray;  /* Color of the scrollbar thumb */
  border-radius: 10px;        /* Rounded corners for the thumb */
  border: 2px solid #f1f1f1;  /* Adds a border around the thumb for better contrast */
}

::-webkit-scrollbar-thumb:hover {
  background-color: darkgray;  /* Darken the color on hover */
}
